<!DOCTYPE html>
<html>
    <head>
        <title>error 404</title>
        <link rel="icon" href="/image/weather-ico.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <p>Yall's just got 404'd lol</p>
        <p>{{message}}</p>
    </body>
</html>